@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.site-main :where(.entry-content, .page-content, p, li, address, blockquote) a:not(.scng-button, .scng-link-cta) {
	text-decoration: underline;
	text-decoration-thickness: 0.08em;
	text-underline-offset: 0.16em;
}

.site-main :where(.entry-content, .page-content, p, li, address, blockquote) a:not(.scng-button, .scng-link-cta):visited {
	color: var(--color-content-link-visited);
}
